In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [9]:
con = create_engine('postgresql://localhost/jeopardy', client_encoding='utf8')
first_moves = pd.read_sql('select season, row, trend.column from trend where question_index = 1;',con)

In [22]:
def make_crosstab(season,first_moves):
    sub = first_moves.ix[first_moves['season'] == season]
    tab = pd.crosstab(sub['row'],sub['column'])
    return tab/sum((tab.sum()))

print(make_crosstab(33,first_moves))
print(make_crosstab(32,first_moves))
print(make_crosstab(25,first_moves))

column         1         2         3         4         5         6
row
1       0.140351  0.181287  0.122807  0.128655  0.099415  0.152047
2       0.017544  0.005848  0.005848  0.011696  0.023392  0.005848
3       0.005848  0.017544  0.017544  0.023392  0.000000  0.005848
4       0.005848  0.011696  0.000000  0.005848  0.005848  0.000000
5       0.000000  0.005848  0.000000  0.000000  0.000000  0.000000
column         1         2         3         4         5         6
row
1       0.139130  0.130435  0.134783  0.104348  0.117391  0.095652
2       0.004348  0.021739  0.021739  0.004348  0.004348  0.000000
3       0.013043  0.034783  0.030435  0.043478  0.000000  0.026087
4       0.013043  0.008696  0.004348  0.008696  0.000000  0.000000
5       0.017391  0.004348  0.000000  0.004348  0.000000  0.013043
column         1        2         3         4         5         6
row
1       0.208696  0.23913  0.130435  0.147826  0.104348  0.165217
5       0.004348  0.00000  0.000000  0.000000  0.000000  0.000000

In [16]:
tab = pd.crosstab(first_moves['row'],first_moves['column'])

In [23]:
tab/sum(tab.sum())

column         1         2         3         4         5         6
row
1       0.210789  0.189560  0.142857  0.125125  0.115884  0.155345
2       0.002248  0.001998  0.001748  0.002498  0.002248  0.000999
3       0.002997  0.004745  0.005245  0.004246  0.000999  0.003746
4       0.005994  0.001748  0.002498  0.001998  0.001998  0.001249
5       0.003996  0.002997  0.000250  0.001499  0.000500  0.001998